@model AraBulNakliyat.Entities.Notice

@{
    ViewBag.Title = "İlan Detayları";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>İlanınız Hakkında</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div>
            <h4>İlan Detayları</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.City.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>
               
                <dd>
                    @Html.DisplayFor(model => model.Text)

                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDraft)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDraft)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LikeCount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LikeCount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedUserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedUserName)
                </dd>

            </dl>
        </div>
        <p>
            <a href="/Notice/Edit/@Model.Id" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Düzenle</a>
            <a href="/Notice/Index" class="btn btn-success"><span class="glyphicon glyphicon-backward"></span> İlanlarıma Dön</a>
        </p>
    </div>
</div>

